<html>
<head>
<title>Home</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="page-header">Welcome to Chat Application</h1>
    <% if(typeof (message) !== 'undefined'){%>
      <h3 class="alert-success"><%= message %></h3>
    <% }%>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form action="/chat_room" method="post" class="well">
                <label>Enter name</label>
                <input type="text" name="name">
                <input type="submit" value="Enter Chat" class="btn btn-success">
              </form>
        </div>
    </div>
</body>
</html>